---
export interface Props {
  items: {
    label: string;
    href?: string;
  }[];
}

const { items } = Astro.props;
---

<div class="text-sm breadcrumbs mb-4">
  <ul>
    {items.map((item, index) => (
      <li>
        {item.href && index < items.length - 1 ? (
          <a href={item.href}>{item.label}</a>
        ) : (
          item.label
        )}
      </li>
    ))}
  </ul>
</div>
